{% extends 'base.html.twig' %}

{% block title %}Guest{% endblock %}

{% block body %}
    <div class="container">
        <h1>My Profile</h1>

        <table class="table-info">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ guest.id }}</td>
                </tr>
                <tr>
                    <th scope="row">First Name</th>
                    <td>{{ guest.firstName }}</td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td>{{ guest.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ guest.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Phone</th>
                    <td>{{ guest.phone }}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>{{ guest.address }}</td>
                </tr>
                <tr>
                    <th scope="row">City</th>
                    <td>{{ guest.city }}</td>
                </tr>
                <tr>
                    <th scope="row">State</th>
                    <td>{{ guest.state }}</td>
                </tr>
                <tr>
                    <th scope="row">Zip</th>
                    <td>{{ guest.zip }}</td>
                </tr>
                <tr>
                    <th scope="row">Country</th>
                    <td>{{ guest.country }}</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary"role="button" href="{{ path('app_guest_edit', {'id': guest.id}) }}">Edit</a>

        {{ include('guest/_delete_form.html.twig') }}
    </div>
{% endblock %}
