{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <nav
            class="navbar navbar-expand-lg bg-body-tertiary"
            x-data="{ isOpen: false }"
            @keydown.escape="isOpen = false"
            :class="{ 'shadow-lg bg-gray-600' : isOpen , 'bg-gray-600' : !isOpen}">
            <div class="container-fluid">
                <a
                    class="navbar-brand"
                    href="/">
                    <span class="text-2xl pl-2 font-extrabold">
                    Test Rewards
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div
                        class="collapse navbar-collapse" id="navbarSupportedContent"
                        :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
                        @click.away="isOpen = false"
                        x-show.transition="true">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                    class="nav-link active" aria-current="page"
                                    href="/"
                                    @click="isOpen = false">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="/{{app.user ? 'logout' : 'login'}}"
                                @click="isOpen = false">
                                {{ app.user ? 'Logout' : 'Login' }}
                            </a>
                        </li>  
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
{% block body %}
<div class="container">
    <div>
        <h1>
            Register
        </h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
        
        {{ form_row(registrationForm.agreeTerms) }}
        
        <button type="button" class="btn btn-primary">
            Register
        </button>
        
        {{ form_end(registrationForm) }}

    </div>
</div>
{% endblock %}
