{% extends 'base.html.twig' %}

{% block title %}Reward index{% endblock %}

{% block body %}
    <h1>Reward index</h1>

    <table class="table-info">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Reward name</th>
                <th scope="col">Description</th>
                <th scope="col">Points required</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reward in rewards %}
            <tr>
                <td>{{ reward.id }}</td>
                <td>{{ reward.rewardName }}</td>
                <td>{{ reward.description }}</td>
                <td>{{ reward.pointsRequired }}</td>
                <td>{{ reward.createdAt ? reward.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reward.updatedAt ? reward.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reward_show', {'id': reward.id}) }}">show</a>
                    <a href="{{ path('app_reward_edit', {'id': reward.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reward_new') }}">Create new</a>
{% endblock %}
