{% extends 'base.html.twig' %}

{% block title %}Guest Points index{% endblock %}

{% block body %}
    <h1>GuestPoints index</h1>

    <table class="table-info">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Total points</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guest_point in guest_points %}
            <tr>
                <td>{{ guest_point.id }}</td>
                <td>{{ guest_point.totalPoints }}</td>
                <td>{{ guest_point.createdAt ? guest_point.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ guest_point.updatedAt ? guest_point.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_guest_points_show', {'id': guest_point.id}) }}">show</a>
                    <a href="{{ path('app_guest_points_edit', {'id': guest_point.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_guest_points_new') }}">Create new</a>
{% endblock %}
