{% extends 'base.html.twig' %}

{% block title %}Guest Points{% endblock %}

{% block body %}
    <h1>GuestPoints</h1>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ guest_point.id }}</td>
            </tr>
            <tr>
                <th scope="row">Total points</th>
                <td>{{ guest_point.totalPoints }}</td>
            </tr>
            <tr>
                <th scope="col">Created at</th>
                <td>{{ guest_point.createdAt ? guest_point.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th scope="col">Updated at</th>
                <td>{{ guest_point.updatedAt ? guest_point.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary"role="button" href="{{ path('app_guest_points_edit', {'id': guest_point.id}) }}">Edit</a>

    {{ include('guest_points/_delete_form.html.twig') }}
{% endblock %}
