{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <div>
    <h1>Transaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th scope="row">Guest id</th>
                <td>{{ transaction.guestId }}</td>
            </tr>
            <tr>
                <th scope="row">Transaction date</th>
                <td>{{ transaction.transactionDate ? transaction.transactionDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th scope="row">Amount</th>
                <td>{{ transaction.amount }}</td>
            </tr>
            <tr>
                <th scope="row">Points awarded</th>
                <td>{{ transaction.pointsAwarded }}</td>
            </tr>
            <tr>
                <th scope="row">Created at</th>
                <td>{{ transaction.createdAt ? transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th scope="row">Updated at</th>
                <td>{{ transaction.updatedAt ? transaction.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
